@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --tomato: hsl(4, 100%, 67%);

    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--charcoal-grey);
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.8;
    font-family: "Roboto";
    display: grid;
    place-content: center;
}

.container {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 1.5rem;
    max-width: 955px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.container.success {
    display: block;
    padding: 3.5rem 4rem;
    max-width: 500px;
    text-align: left;
}

.left {
    color: var(--dark-slate-grey);
    padding: 4rem 2rem 2rem 2rem;
}

.left-info h1 {
    font-size: 3.5rem;
    margin-bottom: .5rem;
}

.left-info p,
.left-info ul {
    margin-bottom: 1.5rem;
}

.left-info ul {
    list-style: none;
    padding: 0;
}

.left-info ul li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.left-info ul li::before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(assets/images/icon-list.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;
    flex-shrink: 0;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
}

.form-item label .invalid-email {
    display: none;
    font-size: 12px;
    font-weight: 700;
}

.form-item label .invalid-email.active {
    display: block;
    color: var(--tomato);
}

.form-item input,
.form-item button {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}

.form-item input {
    border: 1px solid var(--grey);
    cursor: pointer;
}

.form-item input:focus {
    border: 1px solid var(--dark-slate-grey);
    color: var(--dark-slate-grey);
    outline: none;
}

.form-item input.active {
    background-color: rgb(255, 98, 87, 0.2);
    border: 1px solid var(--tomato);
    color: var(--tomato);
}

.form-item button {
    cursor: pointer;
    background: var(--dark-slate-grey);
    color: var(--white);
    font-weight: 700;
    outline: none;
    border: none;
}

.form-item button:hover {
    background: #FF6155;
    box-shadow: 0 16px 32px 0 rgba(255, 97, 85, 0.5);
}

.right {
    text-align: right;

}


.confirmed-message {
    display: none;
    line-height: 1.2;
}

.confirmed-message.active {
    display: block;
}

.confirmed-message img {
    width: 80px;

}

.confirmed-message h2 {
    font-size: 3rem;
    margin-top: 2rem;
}

.confirmed-message p {
    margin: 2rem 0;

}

.confirmed-message button {
    cursor: pointer;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-weight: 700;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;

}

.confirmed-message button:hover {
    background: #FF6155;
    box-shadow: 0 16px 32px 0 rgba(255, 97, 85, 0.5);
}

#user-email {
    font-weight: 700;

}

@media (max-width: 768px) {
    body {
        display: initial;
        line-height: 1.4;
        background-color: var(--white);
    }

    .container {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        border-radius: 0;
        padding: 0;
        grid-template-columns: 1fr;
        box-shadow: none;
    }

    .container.success {
        display: block;
        padding: initial;
    }

    .left {
        padding: 2.5rem 1.5rem;
        grid-row: 2;
    }

    .left-info h1 {
        font-size: 2.5rem;
    }

    .left-info ul li {
        margin-bottom: 1rem;
    }

    .right img {
        width: 100%;
        display: block;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .confirmed-message.active {
        height: 100vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .confirmed-message button {
        margin-top: auto;
        margin-bottom: 2rem;
    }
}